<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> phone </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.phone }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef> View </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" (click)="openDialog(element._id)">
          <mat-icon class="mat24">remove_red_eye</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div>
    <button mat-fab (click)="openAddDialog()">
      <mat-icon class="mat24">add</mat-icon></button>
  </div>
</div>